= form_for @trip do |f|
  - if @trip.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:"
      %ul
        - @trip.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :opponent
    = f.text_field :opponent
  .field
    = f.label :opponent_score
    = f.number_field :opponent_score
  .field
    = f.label :fire_score
    = f.number_field :fire_score
  .actions
    = f.submit 'Save'
