%h1 Listing trips

%table
  %thead
    %tr
      %th Date
      %th Location
      %th Opponent
      %th Opponent score
      %th Fire score
      %th
      %th
      %th

  %tbody
    - @trips.each do |trip|
      %tr
        %td= trip.date
        %td= trip.location
        %td= trip.opponent
        %td= trip.opponent_score
        %td= trip.fire_score
        %td= link_to 'Show', trip
        %td= link_to 'Edit', edit_trip_path(trip)
        %td= link_to 'Destroy', trip, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Trip', new_trip_path
