%p#notice= notice

%p
  %b Date:
  = @trip.date
%p
  %b Location:
  = @trip.location
%p
  %b Opponent:
  = @trip.opponent
%p
  %b Opponent score:
  = @trip.opponent_score
%p
  %b Fire score:
  = @trip.fire_score
%ul
  - @trip.supporters.each do |supporter|
    %li= supporter.name

= link_to 'Edit', edit_trip_path(@trip)
\|
= link_to 'Back', trips_path
