%h1 Listing supporters

%table
  %thead
    %tr
      %th Name
      %th Years traveling
      %th Ejections
      %th
      %th
      %th
      
  %tbody
    - @supporters.each do |supporter|
      %tr
        %td= supporter.name
        %td= supporter.years_traveling
        %td= supporter.ejections
        %td= link_to 'Show', supporter
        %td= link_to 'Edit', edit_supporter_path(supporter)
        %td= link_to 'Destroy', supporter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Supporter', new_supporter_path
